  <div class="back">
    <%= link_to "arrow_back", categories_path, class: "material-symbols-outlined" %>
  </div>
  <div class="total-amount">
    <span>Total Amounts</span>
    <span>
      <%=  @total  %>
    </span>
  </div>
<section class="categories-container">
<h4 class="categories-container__title">Transactions</h4>
  <% if @transactions %>
    <%@transactions.each do |transaction| %>
      <article class="category">
        <div class="category-image">
          <img src=<%= transaction.image %> alt="">
        </div>
        <div class="category-name">
          <h3><%= link_to transaction.name %></h3>
        </div>
        <div class="category-total">
          <p><%= transaction.price %></p>
        </div>
      </article>

    <% end %>
    
  <% else %>
    No category Found at the Moment
  <%end %>
  <div class="action">
    <%= link_to "Add a new Transaction", new_category_transaction_path, class: "categories-container__add__btn" %>
  </div>
</section>